<h1>Welcome to the DIT Judo Club website.</h1>
</h2>Click <a href="https://github.com/NiallRedmond/Judo">here</a> to see this project on github.</h2>

<body>


<div>
	<p>New User?<%=link_to "Sign up now!", new_student_path%></p>
</div>

<div>
<Strong>Post a match:</strong>
<%= link_to 'New Match', new_match_path %>
</div>

<div>
	<%= image_tag("judohome.png", :size => "1280x852")%>
</div>

