<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
 <body>
<h1>Welcome to the DIT Judo club, <%= @student.student_name %>.</h1>
<p> You have successfully signed up. </p>
<p>Thanks for joining, see you on the mats!</p>
 </body>
</html> 